# dependencies
backend/node_modules
frontend/node_modules
admin-front/node_modules

# environment variables
backend/.env
frontend/.env
admin-front/.env

# build output
frontend/dist
admin-front/dist

# ide
.vscode/

# os
.DS_Store
Thumbs.db

todo.txt

node_modules/