:root {
  --orange-btn: #ff7700;
}

.discount-tag-blue {
  background: #e0f0ff;
  color: #1a7fd4;
}

.discount-tag-green {
  background: #e0f5e9;
  color: #2a9d4e;
}

.mute-string {
  color: #a5a5a5;
  font-size: 0.9rem;
}

.card-button {
  background-color: var(--orange-btn);
  color: white;
  transition: transform 0.2s;
}

.card-button:hover {
  background-color: #df6902;
  color: white;
  transform: scale(1.03);
}

.fav-icon {
  transition: transform 0.2s;
}

.fav-icon:hover {
  transform: scale(1.3);
}
.fav-icon-color:hover {
  color: var(--orange-btn);
}

.card {
  transition: transform 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  border-color: var(--orange-btn) !important;
}
