.product-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: none;
  border: none;
  font-size: 2rem;
  color: #f05a28;
  cursor: pointer;
  padding: 0;
}

.product-arrow-left {
  left: -28px;
}
.product-arrow-right {
  right: -28px;
}

@media (min-width: 992px) {
  .col-lg-5-custom {
    width: 20%;
  }
  .product-row::-webkit-scrollbar {
    display: none;
  }
}

.product-row {
  flex-wrap: nowrap !important;
  overflow-x: auto;
  padding-bottom: 4px;
}

.product-row .col-lg-5-custom {
  flex: 0 0 20%;
}

@media (max-width: 992px) {
  .product-row .col-lg-5-custom {
    flex: 0 0 220px;
  }

  .product-arrow {
    display: none;
  }
}
